/* COLORS
    Lightblue: #add8e6
    Yellow: #daa520
    Darkblue: #00008b
    Fuchsia: #ee82ee
    Blue: #1e90ff
    Lightpink: #ffc0cb
    Green: #228b22
    Darkpink: #f08080
    Aqua: #20b2aa
    Black: #23272a
    Aquamarine: #7fffd4
*/

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

/* HEADER */
.header{
    background-color: #add8e6;
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    height: 100px;
}

.header-container{
    background-color: #daa520;
    display: flex;
    line-height: 50px;
    width: 60%;
    /* debug */
    height: 50px;
}

.header-nav ul{
    list-style-type: none;
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-nav{
    border: dashed 2px;
    flex-grow: 1;
}

.header-logo{
    border: dashed 2px;
    width: 25%;
    padding: 0 10px;
    display: flex;
}

.header-login{
    border: dashed 2px;
    width: 25%;
    padding: 0 10px;
    text-align: right;
}

/* MAIN */
/* introduction panel */
.panel-intro{
    background-color: #00008b;
    display: flex;
    padding: 50px 0;
    justify-content: space-around;
    /* debug */
    height: 400px;
}

.intro-container{
    background-color: #ee82ee;
    width: 50%;
    border: dashed 2px;
}

/* main panels */
.panel-white{
    display: flex;
    height: 500px;
    justify-content: center;
    padding: 50px 0;
}

.panel-grey{
    display: flex;
    background-color: lightgrey;
    height: 500px;
    justify-content: center;
    padding: 50px 0;
}

.panel-container{
    width: 60%;
    display: flex;
}

.blue-square{
    width: 60%;
    background-color: #1e90ff;
    border: dashed 2px;
}

.pink-square{
    width: 40%;
    background-color: #ffc0cb;
    border: dashed 2px;
}


.green-square{
    width: 100%;
    background-color: #228b22;
    border: dashed 2px;
    /* debug */
}

/* FOOTER */

.footer-top{
    background-color: #23272a;
    padding-top: 10px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    /* debug */
    height: 500px;

}

.footer-links{
    width: 60%;
    display: flex;
    border: dashed 2px;

}

.darkpink-col{
    background-color: #f08080;
    border: dashed 2px;
    /* debug */
    width: 30%;
}

.aqua-col{
    background-color: #20b2aa;
    border: dashed white 2px;
    /* debug */
    width: 20%;
}

.footer-bottom{
    background-color: #23272a;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    /* debug */
    height: 100px;
}

.footer-nav{
    background-color: #7fffd4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    width: 60%;
}

.footer-logo{
    background-color: pink;
    padding: 10px;
    line-height: 25%;
    border: dashed 2px;
    /* debug */
    height: 50%;
}

.footer-button{
    background-color: pink;
    padding: 10px;
    line-height: 25%;
    border: dashed 2px;
    /* debug */
    height: 50%;
}